{% extends 'base.html' %}

{% block title %}
    New Task
{% endblock title %}
{% block content %}
    <header>
    </header>
    <main>
        <div>
            <h1>Create a new Task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </main>
    {% endblock content %}
